@import "./../../../../style/index.scss";

.box {
  width: 24%;
  z-index: 2;
  @include display-flex(column);
  .selector {
    width: 100%;
    @include display-flex(column);
    .label {
      white-space: nowrap;
      font-size: $lg;
    }
    .input {
      position: relative;
      width: 100%;
      height: 2em;
      box-sizing: border-box;
      margin-top: $md;
      .inputField {
        border: none;
        outline: none;
        cursor: text;
        box-sizing: border-box;
        width: $fullScreen;
        height: $fullScreen;
        background-color: $filterInput;
        color: $white;
        font-size: 1em;
        font-weight: 400;
        padding: 0 $lg;
        transition: 0.2s;
        &:hover {
          background-color: $filterHover;
        }
      }
    }
  }
}
