$black: #000;
$white: #fff;

// Primary Colors
$rollbackRed: #de1c24;
$electricRed: #f0655d;
$pumpkinOrange: #ec8031;
$sparkYellow: #ffc220;
$lemonYellow: #fced40;
$outrageousOrange: #fc6633;

$violetPurple: #63327e;
$plumPurple: #683963;
$fashionPink: #cb2c90;
$truePink: #df7bb1;
$carnationPink: #efd3e2;

$primaryColor1: $rollbackRed;
$primaryColor2: $electricRed;
$primaryColor3: $pumpkinOrange;
$primaryColor4: $sparkYellow;
$primaryColor5: $lemonYellow;

$primaryColor6: $violetPurple;
$primaryColor7: $plumPurple;
$primaryColor8: $fashionPink;
$primaryColor9: $truePink;
$primaryColor10: $carnationPink;
$primaryColor11: $outrageousOrange;

// Secondary Colors
$darkBlue: #041e42;
$walmartBlue: #006697;
$turquoiseBlue: #3ec5e6;
$periwinkleBlue: #a0b5e8;
$powderBlue: #e2f3f7;
$blueRibbon: #0065ff;
$malibu: #7fb2ff;
$eastBay: #3f5980;
$congressBlue: #005291;
$linkBlue: #4990e2;

// Green
$midnightGreen: #005a5a;
$turtleGreen: #008a9a;
$grassGreen: #2a8703;
$teaGreen: #dde7a0;
$seaFoamGreen: #c3f4d8;
$christiGreen: #4ca90c;
$limaGreen: #7dbe0f;
$coniferGreen: #a1d941;
$caperGreen: #d8ebb7;
$atlantisGreen: #96d923;
$chromeGreen: #dbeece;
$springGreen : #A5F504;

$secondaryColor1: $darkBlue;
$secondaryColor2: $walmartBlue;
$secondaryColor3: $turquoiseBlue;
$secondaryColor4: $periwinkleBlue;
$secondaryColor5: $powderBlue;
$secondaryColor6: $midnightGreen;
$secondaryColor7: $turtleGreen;
$secondaryColor8: $grassGreen;
$secondaryColor9: $teaGreen;
$secondaryColor10: $seaFoamGreen;
$secondaryColor11: $blueRibbon;
$secondaryColor12: $malibu;
$secondaryColor13: $eastBay;
$secondaryColor14: $congressBlue;
$secondaryColor15: $linkBlue;
$secondaryColor16: $christiGreen;
$secondaryColor17: $limaGreen;
$secondaryColor18: $coniferGreen;
$secondaryColor19: $caperGreen;
$secondaryColor20: $atlantisGreen;
$secondaryColor21: $chromeGreen;

// Grayscale Colors
$midnightGrey: #414042;
$charcoalGrey: #6d6e71;
$neutralGrey: #9d9fa2;
$silverGrey: #e6e7e8;
$tundoraGrey: #424242;
$boulderGrey: #7a7a7a;
$frenchGrey: #bdbdbd;
$sandGrey: #f6f6f6;
$mineshaftGrey: #222;
$filterInput: #888888;
$filterHover: #7c7c7c;
$dividerGray: #6B6A6A;


$grayScaleColor1: $midnightGrey;
$grayScaleColor2: $charcoalGrey;
$grayScaleColor3: $neutralGrey;
$grayScaleColor4: $silverGrey;
$grayScaleColor5: $tundoraGrey;
$grayScaleColor6: $boulderGrey;
$grayScaleColor7: $frenchGrey;
$grayScaleColor8: $sandGrey;
$grayScaleColor9: $mineshaftGrey;
