// Font sizes

$xxxxxl: 2.500em; // 40px
$xxxxl: 2.000em; // 32px
$xxxl: 1.500em;  // 24px
$xxl: 1.250em;   // 20px
$xl: 1.125em;    // 18px
$lg: 1em;        // 16px
$md: 0.9375em;   // 15px
$sm: 0.875em;    // 14px
$xs: 0.813em;    // 13px
$xxs: 0.750em;   // 12px
$xxxs: 0.688em;  // 11px

 // Colors 

 $dark: #000000;      //Black
 $grey: #ccc;         //Dark Grey
 $light: #ffffff;     //White
 $orange: #ffa500;    //Orange
 $green: #20bc56;     //Green  

 // Border

 $round: 50%;       //Circlular

 // Background

 $windowHeight: 100vh;
 $windowWidth: 100vw;
 $fullScreen: 100%;