@import "./../../../../style/index.scss";

.box {
  width: 10%;
  z-index: 2;
  position: relative;
  @include display-flex(column);
  .selector {
    width: 100%;
    @include display-flex(column);
    .label {
      white-space: nowrap;
      font-size: $lg;
    }
    .input {
      position: relative;
      width: 100%;
      height: 2em;
      box-sizing: border-box;
      margin-top: $md;
      .inputField {
        border: none;
        outline: none;
        cursor: text;
        box-sizing: border-box;
        width: $fullScreen;
        height: $fullScreen;
        background-color: $filterInput;
        color: $white;
        font-size: 1em;
        font-weight: 400;
        padding: 0 $lg;
        &::-webkit-inner-spin-button {
          display: none;
        }
        transition: 0.2s;
        &:hover {
          background-color: $filterHover;
        }
      }
      .iconKU,
      .iconKD {
        color: $white;
        right: 0.05em;
        position: absolute;
        box-sizing: border-box;
        font-size: 1.3em;
        cursor: pointer;
        &:hover {
          opacity: 0.7;
        }
      }
      .iconKU {
        bottom: 0.6em;
      }
      .iconKD {
        top: 0.6em;
      }
    }
  }
  .error {
    position: absolute;
    color: $electricRed;
    font-weight: 550;
    top: 3.5em;
    width: 20em;
  }
  .text {
    position: absolute;
    font-weight: 550;
    top: 3.5em;
    width: 20em;
  }
}
